.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rbga(0, 0, 0, 0.15);
}

.container-data {
    display: flex;
    flex-direction: column;
}
.table, th, td, tr {
    border: 1px whitesmoke solid;
    text-align: center;
}
th {
    color: white;
    background-color: #2673b8;
    font-family:sans-serif;
    height: 50px;
    border-radius: 5px;
}

.th-sort {
    cursor: pointer;
}

.header-data, .pagination {
    display: flex;
    justify-content: center;
}
